<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta
  name="description" content="A smart, complex, and easy to use AI Chatbot. Made in collaboration with OpenAI.">
        <title>ExperimentGPT</title>
        <link rel="icon" type="image/x-icon" href="assets/favicon/favicon.webp">
        <link rel="stylesheet" href="/styles.css" async>
        <link rel="preload" href="https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap" as="style" onload="this.onload=null;this.rel='stylesheet'"> <!-- Noto Sans font -->
        <noscript><link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap"></noscript> <!-- Fallback for no JavaScript -->
    </head>
    
<body>
    <button id="clearButton" hx-post="/clear" hx-trigger="click" hx-target="#conversation" hx-swap="innerHTML">Clear Conversation</button>
    <div id="chatContainer">
        <div id="conversation">
            <% messages.forEach((message, index)=> { %>
                <% if (!(message.role==='system' && message.content==='You are a helpful assistant.' )) { %>
                    <div class="<%= message.role %>"><strong>
                            <%= message.role.toUpperCase() %>:
                        </strong>
                        <%= message.content %>
                    </div>
                    <% } %>
                        <% }); %>
        </div>
    </div>
    <form id="chatForm" hx-post="/send" hx-vars='userMessage:document.getElementById("userMessage").value'
        hx-trigger="submit" hx-target="#conversation" hx-swap="beforeend">
        <input type="text" name="userMessage" aria-label="Message Input Box" id="userMessage" required>
        <div id="sendButtonContainer">
            <button type="submit">
                <img src="assets/send.svg" alt="Send">
            </button>
        </div>
    </form>
    <script src="https://unpkg.com/htmx.org@1.9.5"></script>
    <script src="/script.js"></script>
</body>

</html>