body {
	margin: 0;
	padding: 0;
	background-color: #171717;
	color: #faeaec;
	font-family: "Noto Sans", sans-serif;
}

#chatContainer {
	position: relative;
	max-width: 80%;
	height: 60%;
	margin: 5% auto;
	padding: 20px;
	overflow: auto;
	background-color: #3c101b;
	border-radius: 20px;
}

#conversation div {
	padding: 10px;
	margin-bottom: 0;
}

#conversation div:first-child {
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}

#conversation div:last-child {
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
}

.user,
.system {
	color: #faeaec;
	background-color: #91273e;
}

.user:hover {
	background-color: #b33a53;
}

.system:hover {
	background-color: #b93a56;
}

.system {
	background-color: #a92d4c;
}

#chatForm {
	position: fixed;
	bottom: 10px;
	left: 50%;
	width: 80%;
	padding: 10px;
	transform: translateX(-50%);
	display: flex;
	justify-content: space-between;
	background-color: #a92d4c;
	border-radius: 20px;
}

#userMessage {
	width: 70%;
	padding: 10px;
	color: #faeaec;
	background-color: #91273e;
	border: none;
	border-radius: 10px;
}

#sendButtonContainer {
	width: 25%;
	display: flex;
	justify-content: flex-end;
}

button {
	padding: 10px 20px;
	color: #faeaec;
	background-color: #91273e;
	border: none;
	border-radius: 10px;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
}

button img {
	width: 20px;
	height: 20px;
}

button:hover {
	background-color: #a92d4c;
}

#clearButton,
#logoutForm {
	position: absolute;
	padding: 10px 20px;
	color: #faeaec;
	background-color: #91273e;
	border: none;
	border-radius: 10px;
	cursor: pointer;
	z-index: 1;
}

#clearButton {
	top: 20px;
	right: 20px;
}

#logoutForm {
	top: 20px;
	left: 20px;
	padding: 0;
}

#logoutForm:hover {
	background-color: #a92d4c;
}

#toChats {
	position: absolute;
	bottom: 10px;
	left: 20px;
}

[class^="language-"] {
	border: none !important;
}

#clearConversationDropdown {
	position: relative;
	display: inline-block;
}

#clearButton {
  position: relative;
  top: 0;
  right: 0;
  padding: 10px 20px;
  font-size: inherit;
  border: none;
  cursor: pointer;
  background-color: #91273e;
  color: #faeaec;
  width: auto;
  border-radius: 10px; /* This applies the border radius to all sides */
}


#clearButton:hover {
	background-color: #a92d4c;
}

#clearDropdown {
    display: none;
    position: absolute;
    right: 0;
    top: 100%; /* Position right below the button */
    background-color: #91273e;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    border-radius: 10px;
	border-top-right-radius: 0;
	border-top-left-radius: 0;
    width: 100%; /* Span the full width of its parent */
    box-sizing: border-box; /* Include padding and border in the width */
}

#clearDropdown a {
    padding: 12px 16px;
    color: #faeaec;
    text-decoration: none;
    display: block;
    background-color: #91273e;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
}

#clearDropdown a:hover {
    background-color: #a92d4c;
    border-radius: 10px;
}

.dropdown-content.show {
	display: block;
}
#clearDropdown.show {
	display: block;
}
#clearConversationDropdown {
    position: absolute;
    top: 20px;
    right: 20px;
    display: inline-block;
    padding: 0; /* Ensure there's no extra padding */
    margin: 0;  /* Ensure there's no extra margin */
    width: auto; /* This should size according to its children */
}

#clearButton.clearButton-active {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

#clearDropdown.show + #clearButton {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}