<!DOCTYPE html>
<html>
	<head>
		<title>Authentication</title>
		<link rel="stylesheet" type="text/css" href="/auth/auth.css" />
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta name="description" content="A smart, complex, and easy to use AI Chatbot. Made in collaboration with OpenAI." />
		<link rel="icon" type="image/x-icon" href="./public/assets/favicon.web" />
		<noscript><link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap" /></noscript>
		<link rel="preload" href="https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap" as="style" />
		<script async src="/auth/auth.js"></script>
	</head>
	<body>
		<div id="chatContainer">
			<button id="toggleButton" class="system">Sign Up</button>
			<form id="authForm">
				<input id="username" type="email" placeholder="Email" required />
				<input id="password" type="password" placeholder="Password" required />
				<button id="authSubmit" type="submit">Login</button>
			</form>
		</div>
	</body>
</html>
