<!DOCTYPE html>
<html>
  <head>
    <title>Login/Signup</title>
    <link rel="stylesheet" type="text/css" href="/auth/auth.css" />
    <script
      async
      src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.0/jquery.min.js"
    ></script>
    <script async src="/auth/auth.js"></script>
  </head>
  <body>
    <div id="chatContainer">
      <button id="toggleButton" class="system">Sign Up</button>
      <form id="authForm">
        <input id="username" type="text" placeholder="Email" required />
        <input id="password" type="password" placeholder="Password" required />
        <button id="authSubmit" type="submit">Login</button>
      </form>
    </div>
  </body>
</html>
