<!DOCTYPE html>
<html>

<head>
    <title>Login/Signup</title>
    <link rel="stylesheet" type="text/css" href="auth.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>

<body>
    <div id="chatContainer">
        <button id="toggleButton" class="system">Sign Up</button>
        <form id="userForm">
            <input id="username" type="text" placeholder="Username" required>
            <input id="password" type="password" placeholder="Password" required>
            <button id="submit" type="submit">Login</button>
        </form>
    </div>

    <script>
        $(document).ready(function () {
            var isLogin = true;
            $("#toggleButton").click(function () {
                isLogin = !isLogin;
                if (isLogin) {
                    $("#toggleButton").text("Sign Up");
                    $("#submit").text("Login");
                } else {
                    $("#toggleButton").text("Login");
                    $("#submit").text("Sign Up");
                }
            });
        });
    </script>
</body>

</html>